.version.alumni_features /* version checker */
{
	color: #0000EF;
	background-color: #E74AEA;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu369
{
	width: 0.01px;
}

#u369,#u369-bw
{
	z-index: 2;
	height: 66px;
}

#accordionu461
{
	z-index: 3;
	width: 303px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 55px;
}

#u470
{
	z-index: 4;
	width: 303px;
}

#u471-5
{
	z-index: 5;
	width: 293px;
	min-height: 28px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u471-5:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	margin: 0px;
}

#u471-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	margin: 0px;
}

#u471-5.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 28px;
	margin: 0px;
}

#u472
{
	z-index: 10;
	width: 301px;
	padding-bottom: 2px;
}

#menuu526
{
	z-index: 11;
	width: 271px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u527
{
	width: 271px;
}

#u528
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u528:hover
{
	margin: 0px -10000px 0px 0px;
}

#u528:active
{
	margin: 0px -10000px 0px 0px;
}

#u531-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u528:hover #u531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u528:active #u531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u535
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u528.MuseMenuActive,#u535:hover
{
	margin: 0px -10000px 0px 0px;
}

#u535:active
{
	margin: 0px -10000px 0px 0px;
}

#u538-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u528.MuseMenuActive #u531-4,#u535:hover #u538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u535:active #u538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u542
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u535.MuseMenuActive,#u542:hover
{
	margin: 0px -10000px 0px 0px;
}

#u542:active
{
	margin: 0px -10000px 0px 0px;
}

#u545-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u535.MuseMenuActive #u538-4,#u542:hover #u545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u542:active #u545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u549
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u542.MuseMenuActive,#u549:hover
{
	margin: 0px -10000px 0px 0px;
}

#u549:active
{
	margin: 0px -10000px 0px 0px;
}

#u552-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u542.MuseMenuActive #u545-4,#u549:hover #u552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u549:active #u552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u556
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u549.MuseMenuActive,#u556:hover
{
	margin: 0px -10000px 0px 0px;
}

#u556:active
{
	margin: 0px -10000px 0px 0px;
}

#u559-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u549.MuseMenuActive #u552-4,#u556:hover #u559-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u556:active #u559-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u534,#u541,#u548,#u555,#u562
{
	width: 271px;
	margin-top: 2px;
}

#u565
{
	width: 271px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u556.MuseMenuActive,#u565:hover
{
	margin: 0px -10000px 0px 0px;
}

#u565:active
{
	margin: 0px -10000px 0px 0px;
}

#u565.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u568-4
{
	width: 271px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u556.MuseMenuActive #u559-4,#u565:hover #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u565:active #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u565.MuseMenuActive #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u371
{
	z-index: 49;
	width: 79px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u370
{
	z-index: 48;
	height: 70px;
}

#u370-bw
{
	z-index: 48;
	margin-top: 261px;
	height: 72px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

