.version.alumni_shorts /* version checker */
{
	color: #0000E5;
	background-color: #D69D4D;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 891px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 5px;
	padding-bottom: 128px;
}

#u211
{
	z-index: 4;
	width: 141px;
	margin-left: 6px;
}

#u210
{
	z-index: 3;
	height: 128px;
}

#u210-bw
{
	z-index: 3;
	margin-top: 796px;
	height: 128px;
}

#u209
{
	z-index: 2;
	padding: 52px 36px 12px 33px;
}

#u214
{
	z-index: 6;
	width: 232px;
	margin-left: 108px;
}

#u218-4
{
	z-index: 8;
	margin-left: 108px;
	margin-top: 7px;
}

#menuu220
{
	z-index: 12;
	width: 699px;
	left: -1px;
	margin-top: 17px;
}

#u221
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
}

#u222
{
	width: 114px;
	padding-bottom: 17px;
}

#u222:hover
{
	margin: 0px;
}

#u222:active
{
	margin: 0px;
}

#u224-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u222:hover #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u222:active #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 116px;
}

#u229
{
	width: 115px;
	padding-bottom: 17px;
}

#u222.MuseMenuActive,#u229:hover
{
	margin: 0px;
}

#u229:active
{
	margin: 0px;
}

#u232-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u222.MuseMenuActive #u224-4,#u229:hover #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u229:active #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u236
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 233px;
}

#u237
{
	width: 115px;
	padding-bottom: 17px;
}

#u229.MuseMenuActive,#u237:hover
{
	margin: 0px;
}

#u237:active
{
	margin: 0px;
}

#u239-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u229.MuseMenuActive #u232-4,#u237:hover #u239-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u237:active #u239-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 350px;
}

#u246
{
	width: 115px;
	padding-bottom: 17px;
}

#u237.MuseMenuActive,#u246:hover
{
	margin: 0px;
}

#u246:active
{
	margin: 0px;
}

#u249-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u237.MuseMenuActive #u239-4,#u246:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u246:active #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u250
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 467px;
}

#u251
{
	width: 115px;
	padding-bottom: 17px;
}

#u246.MuseMenuActive,#u251:hover
{
	margin: 0px;
}

#u251:active
{
	margin: 0px;
}

#u252-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u246.MuseMenuActive #u249-4,#u251:hover #u252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u251:active #u252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u257
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 584px;
}

#u260
{
	width: 115px;
	padding-bottom: 17px;
}

#u251.MuseMenuActive,#u260:hover
{
	margin: 0px;
}

#u260:active
{
	margin: 0px;
}

#u260.MuseMenuActive
{
	margin: 0px;
}

#u262-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u251.MuseMenuActive #u252-4,#u260:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u260.MuseMenuActive #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u209-bw
{
	z-index: 2;
	margin-top: -896px;
	margin-bottom: -157px;
	height: 93px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

