.version.faculty_reports /* version checker */
{
	color: #0000FC;
	background-color: #EC123B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 777px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	margin-left: auto;
	margin-right: auto;
}

#pu75
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u75
{
	z-index: 2;
	padding-bottom: 21px;
}

#u89
{
	z-index: 3;
	width: 418px;
	padding-bottom: 23px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 120px;
}

#u77
{
	z-index: 4;
	width: 112px;
	margin-right: -10000px;
	margin-top: -14px;
	left: 10px;
}

#pu83
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 127px;
}

#u83
{
	z-index: 6;
	width: 279px;
}

#u91-4
{
	z-index: 8;
	margin-top: 4px;
}

#u75-bw
{
	z-index: 2;
	height: 135px;
}

#menuu264
{
	z-index: 12;
	width: 850px;
	margin-right: -10000px;
	margin-top: 116px;
	left: 149px;
}

#u265
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
}

#u266
{
	width: 140px;
	padding-bottom: 17px;
}

#u266:hover
{
	margin: 0px;
}

#u266:active
{
	margin: 0px;
}

#u268-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u266:hover #u268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u266:active #u268-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u272
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
	left: 142px;
}

#u273
{
	width: 140px;
	padding-bottom: 17px;
}

#u266.MuseMenuActive,#u273:hover
{
	margin: 0px;
}

#u273:active
{
	margin: 0px;
}

#u276-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u266.MuseMenuActive #u268-4,#u273:hover #u276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u273:active #u276-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u279
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
	left: 284px;
}

#u282
{
	width: 140px;
	padding-bottom: 17px;
}

#u273.MuseMenuActive,#u282:hover
{
	margin: 0px;
}

#u282:active
{
	margin: 0px;
}

#u283-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u273.MuseMenuActive #u276-4,#u282:hover #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u282:active #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u286
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
	left: 426px;
}

#u289
{
	width: 140px;
	padding-bottom: 17px;
}

#u282.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u289:active
{
	margin: 0px;
}

#u292-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u282.MuseMenuActive #u283-4,#u289:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u289:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u293
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
	left: 568px;
}

#u294
{
	width: 140px;
	padding-bottom: 17px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u294:active
{
	margin: 0px;
}

#u297-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u289.MuseMenuActive #u292-4,#u294:hover #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u294:active #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u300
{
	width: 140px;
	min-height: 34px;
	margin-right: -10000px;
	left: 710px;
}

#u301
{
	width: 140px;
	padding-bottom: 17px;
}

#u294.MuseMenuActive,#u301:hover
{
	margin: 0px;
}

#u301:active
{
	margin: 0px;
}

#u301.MuseMenuActive
{
	margin: 0px;
}

#u304-4
{
	width: 140px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u294.MuseMenuActive #u297-4,#u301:hover #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u301:active #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u301.MuseMenuActive #u304-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u618
{
	z-index: 49;
	padding-bottom: 21px;
}

#u75_align_to_page,#u618_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u619-14
{
	z-index: 50;
	margin-right: -10000px;
	margin-top: 8px;
	left: 159px;
}

#u618-bw
{
	z-index: 49;
	margin-top: 756px;
	height: 128px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 94px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -755px;
}

